<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzR5iCKSPqSwmcVoitGfaHXIxW1PZOjxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1003857028899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malinowski.managmentSystemProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>managment-system-77f61</string>
	<key>STORAGE_BUCKET</key>
	<string>managment-system-77f61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003857028899:ios:8553a3893a7d0f635ece96</string>
</dict>
</plist>